<div class="center upload-component-spacing">
  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                 (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      Drag and Drop videos here (or)
      <button class="browse-files-margin" z-button zShape="default" zSize="sm" zType="outline" (click)="openFileSelector()">Browse Files</button>
    </ng-template>
  </ngx-file-drop>
  <table z-table>
    <thead z-table-header>
    <tr z-table-row>
      <th z-table-head>Name</th>
      <th z-table-head>Action</th>
    </tr>
    </thead>
    <tbody z-table-body>
    @for (item of files; track item.fileEntry.name) {
      <tr z-table-row>
        <td z-table-cell><strong>{{ item.relativePath }}</strong></td>
        <td z-table-cell>
          <button z-button zSize="sm" *ngIf="fileUploaded" (click)="onClickUploadVideo()"> Upload Video</button>
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>
