.save-video-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.first-container {
  flex: 1 1 20%;
  border: 3px solid purple;
}

.second-container {
  flex: 1 1 30%;
  flex-direction: column;
  border: 3px solid purple;
}

.third-container {
  flex: 1 1 30%;
  border: 3px solid purple;
}

.fourth-container {
  flex: 1 1 20%;
  border: 3px solid purple;
}

.title-in-second-container {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  flex:0.2;
}
.form-in-second-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid crimson;
  padding: 1rem;
  height: 100%;
}

.form-in-second-container input {
  font-size: 16px;
}
.form-in-second-container textarea {
  font-size: 16px;
  resize: vertical;
}
.form-in-second-container mat-select {
  font-size: 16px;
  border: 1px solid rgba(198, 197, 197, 0.53);
  border-radius: 10px;
  padding: 0.5rem;
}

.tags-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tag-input {
  height: 40px !important; /* Or whatever height you want */
  min-height: 40px !important;
  max-height: 40px !important;
}
